<%- model_class = User -%>
<div class="page-header">
  <h2><%= @user.name %></h2>
</div>
<div class="row">
  <div class="span2">
    Email Address:
  </div>
  
  <div class="span9">
    <%= @user.email %>
  </div>
  <div class="span2">
    Username:
  </div>
  <div class="span9">
    <%= @user.username %>
  </div>
  <div class="span2">
    Birthdate:
  </div>
  <div class="span9">
    <% if  @user.birthdate? %>
    <%= I18n.l(@user.birthdate, :format=>:birthdate) %>
    <% end %>
  </div>
  <div class="span2">
    Disability Status:
  </div>
  <div class="span9">
    <% if  @user.disabled_veteran? %>
      Disabled Veteran
    <% else %>
      none
    <% end %>
  </div>
  <div class="span2">
    Household Income:
  </div>
  <div class="span9">
    <%= @user.income %>
  </div>
  <div class="span2">
    Last Sign In:
  </div>
  <div class="span9">
    <%= I18n.l(@user.last_sign_in_at, :format=>:login_date) %>
  </div>
  <div class="span11">
    You've signed in: <b><%= @user.sign_in_count %></b> time(s)
  </div>





</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn btn-inverse'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-warning' %>
</div>


<hr>
<h3>Properties in my portfolio:</h3>

  <div id="collapseOne" class="panel-collapse collapse in">
  <div class="panel-body panel-primary searchpadding">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Property Address</th>
          <th>Property Residency</th>
          <th>Property Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for portfolio in @user.portfolios do %>
         <tr>
          <td><%= portfolio.lot.property_map_address %></td>
          <td><%= portfolio.lot_residency %></td>
          <td><%= portfolio.follow_type %></td>
          <td><%= link_to "Details", lot_path(portfolio.lot), :class => "btn btn-info btn-xs" %></td>
         </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>

