<div class="container controls-row">
  <%= search_form_for @search, url: search_lots_path, method: :post do |f| %>
    <div class="span8">
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
    <% end %>
   </div>
    <div class="span2">     
    <%= f.submit "Search", :class => "btn btn-success btn-large" %>
   </div>
   <div class="span8">
   <%= link_to_add_fields "Add Conditions", f, :condition %>
   <br><br>
    </div>

</div>
  <% end %>