<h1 class="graybackground">Help keep property taxes fair and transparent</h1>


<div class="container controls-row">
  <%= search_form_for @search, url: search_lots_path, method: :post do |f| %>
    <div class="span8">
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
    <% end %>
   </div>
   <div class="span2">
   <%= link_to_add_fields "Add Conditions", f, :condition %>
   </div>
    <div class="span1">     
    <%= f.submit "Search", :class => "btn btn-success btn-large" %>
   </div>
</div>
  <% end %>



  <div class="container">
    <%= gmaps4rails(@json) %>
  </div>



<%= paginate @properties %>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :property_map_address, "Property Address" %></th>
      <th><%= sort_link @search, :owner, "Owner Name" %></th>
      <th><%= sort_link @search, :appraised_value, "Appraised Value" %></th>
      <th>Zoning</th>
      <th>Homestead</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |lot| %>
      <tr>
        <td><%= lot.property_map_address if lot.property_map_address.present? %></td>
        <td><%= lot.owners_name if lot.owner.present? %></td>
        <td><%= number_to_currency(lot.appraised_appraised, :unit => "$") %></td>
        <td><%= lot.zoning %></td>
        <td><%= lot.homestead %></td>
        <td><%= link_to "Details", lot_path(lot), :class => "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

