<%= render :partial => "/lots/search" %>
<div class="row">

  <div class="span4">  
  <%= @taxes_by_zoning %>
  <div id="graph2" style="width: 100%; height: 200px;"></div>
  </div>

  <div class="span4">
  <%= @taxes_lost_chart %>
  <div id="graph" style="width: 100%; height: 200px;"></div>
  </div>
  
  <div class="span4">
  <%= @taxes_by_type %>
  <div id="graph3" style="width: 100%; height: 200px;"></div>
  </div>
  
  

</div>
<div class="row">
  <div class="span5">
    <%= gmaps4rails(@json) %>
  </div>
  <div class="span7">
    <h3>Property Tax Summary</h3>

    <div class="span4">
      Total Taxable Properties:
    </div>
    <div class="span2 textrigt">
      <%= number_with_delimiter(Lot.find(:all).count, :delimiter => ",")  %>
    </div>
  </div>

  <div class="span7">
    <div class="span4">
      Total Digest Appraised Value:
    </div>
    <div class="span2 textrigt">
      <%= number_to_currency(@all_lots, :unit => "$") %>
    </div>
  </div>
  
  <div class="span7">
    <div class="span4">
      Total Commercial Digest as Appraised:
    </div>
    <div class="span2 textrigt">
      <%= number_to_currency(@commericial_digest, :unit => "$") %>
    </div>
  </div>
  
  <div class="span7">
    <div class="span4">
      Commercial Digest Appraisal Accepted:
    </div>
    <div class="span2 textrigt">
      <%= number_to_currency(@commericial_appraised, :unit => "$") %>
    </div>
  </div>
  
  <div class="span7">
    <div class="span4">
      Commercial Digest Appraisal Appealed:
    </div>
    <div class="span2 textrigt">
      <%= number_to_currency(@commericial_appeal, :unit => "$") %>
    </div>
  </div>
  
  <div class="span7">
    <div class="span4">
      Commercial Digest Lost to Appeal:
    </div>
    <div class="span2 textrigt">
      <b><%= number_to_currency(@commericial_lost_to_appeal, :unit => "$") %></b>
    </div>
  </div>
  
  <div class="span7">
    <div class="span4">
      Commercial Digest Taxable Value:
    </div>
    <div class="span2 textrigt">
      <%= number_to_currency(@commericial_taxable, :unit => "$") %>
    </div>
    <hr>
  </div>


  <div class="span7">
    <div class="span4">
      <h6>Annual City Taxes Lost to Appeal:</h6>
    </div>
    <div class="span2 textrigt btn btn-danger btn-mini">
      <%= number_to_currency(@city_commericial_tax_lost_to_appeal, :unit => "$") %>
    </div>
  </div>


  <div class="span7">
    <div class="span4">
      <h6>Annual School Taxes Lost to Appeal:</h6>
    </div>
    <div class="span2 textrigt btn btn-danger btn-mini">
      <%= number_to_currency(@school_commericial_tax_lost_to_appeal, :unit => "$") %>
    </div>
  </div>
  
  <div class="span7">
    <div class="span4">
      <h5>Total Annual Tax Lost to Appeal:</h5>
    </div>
    <div class="span2 textrigt btn btn-danger">
      <%= number_to_currency(@total_commericial_tax_lost_to_appeal, :unit => "$") %>
    </div>
  </div>
</div>

    <%= render :partial => "/lots/lot_list" %>