<%= link_to t('.back', :default => t("helpers.links.back")),
            lots_path, :class => 'btn btn-inverse'  %>
<br><br>

<h1 class="graybackground"><%=t '.title', :default => @lot.property_map_address %></h1>

<div id="pagewrapper">
<div class="container">
  <div class="row">
  <div class="span4">
    <%= gmaps({
           "map_options" => {"auto_zoom" => false, "zoom" => 18, "type" => "SATELLITE"  },
           "markers"     => {"data" => @json }
          })
    %>
  </div>
<div class="span8 borderbottom">
      <h3>This property is valued at: <%= number_to_currency(@lot.appraised_appraised, :unit => "$") %></h3>
      <% if user_signed_in? %>
        <h4>This valuation is:
          <%= link_to "Too Low", vote_lot_path(@lot, type: "up"), method: "post", :class => "btn btn-danger" %>
          <%= link_to "Too High", vote_lot_path(@lot, type: "down"), method: "post", :class => "btn btn-success"  %>
        </h4>
        <b>Most people believe this valuation is:</b>
        <% if @lot.reputation_for(:votes).to_s > "0" %>
           <h5 class="btn btn-danger">Too Low.</h5>
        <% elsif  @lot.reputation_for(:votes).to_s < "0" %>
          <h5 class="btn btn-success">Too High.</h5>
        <% else %>
          <h5>Be the first to vote on this property value.</h5>
        <% end %>
      <% else %>
        <h4><%= link_to "Login in to Vote on this property value", user_omniauth_authorize_path(:twitter) %></h4>
      <% end %>
</div>

    <div class="span2">
      Owner:
    </div>
    <div class="span6 bold">
      <%=t '.title', :default => @lot.owners_name %>
    </div>

  <% if @lot.co_owner.present? %>
    <div class="span2">
      Co-Owner:
    </div>
    <div class="span6 bold">
      <%=t '.title', :default => @lot.co_owners_name %> 
    </div>
  <% end %>
  <% if @lot.in_care_of.present? %>
    <div class="span2">
      Managed by: 
    </div>
    <div class="span6 bold">
      <%=t '.title', :default => @lot.in_care_of %> 
    </div>
  <% end %>



    <div class="span2 bold">
      <h6>Appraised Value</h6>
    </div>
    <div class="span2">
      <h6><%= number_to_currency(@lot.appraised_appraised, :unit => "$") %></h6>
    </div>

    <div class="span2 bold">
      <% if @lot.appeal_appraised.present? %>
        <h6>Appeal Value</h6>
      <% end %>
    </div>
    <div class="span2">
      <% if @lot.appeal_appraised.present? %>
        <h6><%= number_to_currency(@lot.appeal_appraised, :unit => "$") %></h6>
      <% end %>
    </div>
<div>




<div class="span6">
<div class="row">
    <div class="span2 bold">
      Land Value
    </div>
    <div class="span4">
      <%= number_to_currency(@lot.land_appraised, :unit => "$") %>
    </div>


    <div class="span2 bold">
      Building Value
    </div>
    <div class="span4">
      <%= number_to_currency(@lot.building_appraised, :unit => "$") %>
    </div>
</div>



<div class="row">
    <div class="span2 bold">
      Tax District
    </div>
    <div class="span4">
      <%= @lot.tax_district %>
    </div>

    <div class="span2 bold">
      Parcel ID
    </div>
    <div class="span4">
      <%= @lot.parcel_id %>
    </div>
</div>


<div class="row">
    <div class="span2 bold">
      Zoning
    </div>
    <div class="span4">
      <%= @lot.zoning %>
    </div>

    <div class="span2 bold">
      Tax Year
    </div>
    <div class="span4">
      <%= @lot.tax_year %>
    </div>
</div>

<div class="row">
    <div class="span2 bold">
      Mailing Address
    </div>
    <div class="span4">
      <%= @lot.mailing_map_address %>
    </div>
  
    <div class="span2 bold">
      Homestead
    </div>
    <div class="span4">
      <%= @lot.homestead %>
    </div>
</div>
</div>
</div>
</div>
<h2 class="graybackground">Other properties nearby</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :property_map_address, "Property Address" %></th>
      <th><%= sort_link @search, :owner, "Owner Name" %></th>
      <th><%= sort_link @search, :appraised_value, "Appraised Value" %></th>
      <th>Zoning</th>
      <th>Homestead</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |lot| %>
      <tr>
        <td><%= lot.property_map_address if lot.property_map_address.present? %></td>
        <td><%= lot.owner if lot.owner.present? %></td>
        <td><%= number_to_currency(lot.appraised_appraised, :unit => "$") %></td>
        <td><%= lot.zoning %></td>
        <td><%= lot.homestead %></td>
        <td><%= link_to "Details", lot_path(lot), :class => "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
