<div class="row">
  <div class="col-lg-8">
    <h1>
      <span class="label label-primary">
        <%= t '.title', :default => @lot.property_map_address, :class => "blue" %>
      </span>
    </h1>
  </div>
  <div class="col-lg-4">
    <div class="textright">
      <a href="<%= add_lots_to_workflow_path(@lot) %>" class="add-to-workflow btn btn-success">Add this property to a Workflow</a>
    </div>
  </div>
</div>
<br>
<style>
    .map_container {
        height: 300px;
    }

    .showmap {
        height: 320px;
    }

    #map {
        height: 285px;
    }

    .mapcontainer {
        width: 90%;
        margin-left: 10px;
    }

</style>

<div class="body-content">
<div class="row">
<div class="col-lg-4">
  <div class="showmap">
    <%= gmaps({
                      "map_options" => { "auto_zoom" => false, "zoom" => 18, "type" => "SATELLITE" },
                      "markers" => { "data" => @json }
              }) %>
  </div>
  <% if @lot.appeal_appraised > 10 %>
  <div class="mapcontainer">
    <div class="row">
      <%= @taxes_by_type %>
      <div id="graph3" style="width: 100%; height: 350px;"></div>
    </div>
    <div class="row">
      <%= @taxes_lost_chart %>
      <div id="graph" style="width: 100%; height: 200px;"></div>
    </div>
  </div>
  <% end %>
    <div class="fb-comments" data-href="http://propertytaxexplorer.com/lots/<%= @lot.id %>" data-width="400px"></div>
  
  <hr>
</div>

<div class="col-lg-8">
  <% if @lot.appeal_appraised > 10 %>
      <h4 class="appeal">[APPEAL PENDING] value set at: <b><%= number_to_currency(@lot.full_appeal, :unit => "$") %></b>
      </h4>
  <% else %>
      <h4>This property is valued at: <%= number_to_currency(@lot.appraised_appraised, :unit => "$") %></h4>
  <% end %>
  <% if user_signed_in? %>
      <h4>This valuation is:
        <%= link_to "Too High", vote_lot_path(@lot, type: "down"), method: "post", :class => "btn btn-success btn-xs" %>
        <%= link_to "Just Right", vote_lot_path(@lot, type: "just_right"), method: "post", :class => "btn btn-info btn-xs" %>
        <%= link_to "Too Low", vote_lot_path(@lot, type: "up"), method: "post", :class => "btn btn-danger btn-xs" %>
      </h4>
      <b>Most people believe this valuation is:</b>
      <% if @lot.reputation_for(:votes) == 0 %>
          <div class="btn btn-info btn-xs">Just right or no votes yet.</div>
      <% elsif  @lot.reputation_for(:votes).to_s < "0" %>
          <div class="btn btn-success btn-xs">Too High.</div>
      <% elsif  @lot.reputation_for(:votes).to_s > "0" %>
          <div class="btn btn-danger btn-xs">Too Low.</div>
      <% end %>
      <br>
      This property has <%= number_with_precision @lot_vote, :precision => 0 %> Vote(s)
  <% else %>
      <h3>Login to vote on this property value.</h3>
      <br>
      This property has <%= number_with_precision @lot_vote, :precision => 0 %> Vote(s)
  <% end %>

<hr>

<div class="panel-group" id="accordion">
<div class="panel">
  <div id="collapseProperty" class="panel-collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4">
          <h4>Owner:</h4>
        </div>
        <div class="col-lg-8  textright">
          <h4><%= t '.title', :default => @lot.owners_name %></h4>
        </div>
      </div>

      <% if @lot.co_owner.present? %>
          <div class="row">
            <div class="col-lg-4">
              Co-Owner:
            </div>
            <div class="col-lg-8 textright">
              <%= t '.title', :default => @lot.co_owners_name %>
            </div>
          </div>
      <% end %>
      <% if @lot.in_care_of.present? %>
          <div class="row">
            <div class="col-lg-4">
              Managed by:
            </div>
            <div class="col-lg-8 textright">
              <%= t '.title', :default => @lot.in_care_of %>
            </div>
          </div>
      <% end %>

      <hr>
      <div class="row">
        <div class="col-lg-4 bold">
          <b>Appraised Value</b>
        </div>
        <div class="col-lg-8 textright">
          <b><%= number_to_currency(@lot.appraised_appraised, :unit => "$") %></b>
        </div>
      </div>
      <% if @lot.appeal_appraised > 10 %>
          <div class="row">
            <div class="col-lg-4 bold">
              <b>Appeal Value</b>
            </div>
            <div class="col-lg-8 textright">
              <div class="btn btn-danger btn-xs"><%= number_to_currency(@lot.full_appeal, :unit => "$") %></div>
            </div>
          </div>
      <% end %>
      <hr>
      
      
      <% building_average_value_from_similar_land_values = @lot.same_zoning_lots_with_similar_land_value(@lot.land_value * 0.15).average(:building_value) %>
      <% ratio = @lot.building_value / building_average_value_from_similar_land_values %>
      <% if ratio > 1 %>
      <div class="row">
        <div class="col-lg-12">
          This building value is <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">above</span> the average of similar properties.<br> It is
          <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">
                <%= (ratio * 100).round(2) %>%
             </span>
             &nbsp;
              <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">
                    above
                 </span>
          &nbsp; greater than comparable properties.
        </div>
        <br/><br/>
        <div class="col-lg-9">
          Similar properties have an average building value of:
        </div>
        <div class="col-lg-3 textright">
          <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>"><%= number_to_currency(building_average_value_from_similar_land_values, :unit => "$") %></span>
        </div>
      </div>
      <hr>
      <% elsif ratio < 1 %>
      
      <div class="row">
        <div class="col-lg-12">
          This building value is <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">below</span> the average of similar properties.<br> It is
          <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">
                <%= (ratio * 100).round(2) %>%
             </span>&nbsp;
             <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">
                   below
                </span>
          &nbsp; the value of comparable properties.
        </div>
        <br/><br/>
        <div class="col-lg-9">
          Similar lots have an average building value of:
        </div>
        <div class="col-lg-3 textright">
          <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>"><%= number_to_currency(building_average_value_from_similar_land_values, :unit => "$") %></span>
        </div>
      </div>
      <hr>
      <% else %>
      <% end %>


      <% lot_average_value_from_similar_building_values = @lot.same_zoning_lots_with_similar_building_value(@lot.land_value * 0.15).average(:land_value) %>
      <% ratio = @lot.land_value / lot_average_value_from_similar_building_values %>

      <% if ratio < 1 %>
      <div class="row">
        <div class="col-lg-12">
          This land value is <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">below</span> the average of similar properties.<br> It is 
          <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">
               <%= (ratio * 100).round(2) %>%
            </span>
            &nbsp;<span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">below</span>
          &nbsp;the value of comparable parcels.
         
        </div>
        <br/><br/>
        <div class="col-lg-9">
          Similar buildings have an average lot value of:
        </div>
        <div class="col-lg-3 textright">

          <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>"><%= number_to_currency(lot_average_value_from_similar_building_values, :unit => "$") %></span>
        </div>
      </div>
      <hr>
      <% elsif ratio > 1 %>
      <div class="row">
        <div class="col-lg-12">
          This land value is <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">above</span> the average of similar properties.<br> It is
          <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">
               <%= ((ratio * 100).round(2) - 100) %>%
            </span>
          &nbsp;<span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>">above</span> of the value of comparable parcels.
         
        </div>
        <br/><br/>
        <div class="col-lg-9">
          Similar properties have an average lot value of:
        </div>
        <div class="col-lg-3 textright">

          <span class="label label-<%= ratio < 0.15 || ratio > 1.85 ? 'danger' : ratio < 0.9 || ratio > 1.1 ? 'warning' : 'success' %>"><%= number_to_currency(lot_average_value_from_similar_building_values, :unit => "$") %></span>
        </div>
      </div>
      <hr>
      <% else %>
      <% end %>






      <div class="row">
        <div class="col-lg-2 bold">
          Land Value
        </div>
        <div class="col-lg-2 textright">
          <%= number_to_currency(@lot.land_appraised, :unit => "$") %>
        </div>

        <div class="col-lg-1 bold">
          Building Value
        </div>
        <div class="col-lg-2 textright">
          <%= number_to_currency(@lot.building_appraised, :unit => "$") %>
        </div>

        <div class="col-lg-2 bold">
          Tax District
        </div>
        <div class="col-lg-3 textright">
          <%= @lot.tax_district %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 bold">
          Zoning
        </div>
        <div class="col-lg-2 textright">
          <%= @lot.zoning %>
        </div>

        <div class="col-lg-1 bold">
          Tax Year
        </div>
        <div class="col-lg-2 textright">
          <%= @lot.tax_year %>
        </div>

        <div class="col-lg-2 bold">
          Parcel ID
        </div>
        <div class="col-lg-3 textright">
          <%= @lot.parcel_id %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 bold">
          Mailing Address
        </div>
        <div class="col-lg-8 textright">
          <%= @lot.mailing_map_address %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h6>Tax Details</h6>
      </a>
    </h3>
  </div>
  <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-5 bold">
          <b>City Taxes</b>
        </div>

        <div class="col-lg-2 textright">
          <%= number_to_currency(@lot.city_tax, :unit => "$") %>
        </div>

        <div class="col-lg-3 bold">
          <b>School Taxes</b>
        </div>
        <div class="col-lg-2 textright">
          <%= number_to_currency(@lot.school_tax, :unit => "$") %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5 bold">
          <b>Capital Tax</b>
        </div>
        <div class="col-lg-2 textright">
          <%= number_to_currency(@lot.capital_tax, :unit => "$") %>
        </div>

        <div class="col-lg-3 bold">
          <b>Bond Tax</b>
        </div>
        <div class="col-lg-2 textright">
          <%= number_to_currency(@lot.bond_tax, :unit => "$") %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5 bold">
          <b>Downtown Development Tax</b>
        </div>
        <div class="col-lg-2 textright">
          <%= number_to_currency(@lot.dda_tax, :unit => "$") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <h6>Homestead Details</h6>
      </a>
    </h3>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">

      <div class="col-lg-2 bold">
        Homestead: <%= @lot.homestead %>
      </div>

      <div class="col-lg-10">
        <% if @lot.general_homestead %>
            <b>General Homestead - H1 or H1F or H6DF</b>
        <% elsif @lot.senior_62_school_homestead %>
            <b>Over 62 & income under $25,000 - S1</b>
        <% elsif @lot.senior_62_low_income_school_homestead %>
            <b>Over 62 & income under $10,000 - H6F</b>
        <% elsif @lot.senior_65_school_homestead %>
            <b>Over 65 - H2</b>
        <% elsif @lot.senior_70_school_homestead %>
            <b>Over 70 - H6IF or H6F</b>
        <% elsif @lot.senior_80_school_homestead %>
            <b>Over 80 & Income under $40,000 - H6F</b>
        <% else %>
            <b>No Homestead</b>
        <% end %>
        <br/><br/>
        <b>Details about your homestead exemption:</b>

        <p>
          <% if @lot.general_homestead %>
              <b>General Homestead - H1 or H1F or H6DF</b> homeowners whose primary residence is at this address qualify
              for a general homestead exemption.<br/>Taxes eligible for homestead deduction:
              <b>City of Decatur General Fund, City of Decatur Capital Tax, City of Decatur Downtown Development Tax</b><br/>Taxes
              NOT eligible for homestead deduction:
              <b>City of Decatur Bond Tax, City Schools of Decatur Tax</b>.<br/><br/>Total Deduction from Appraised
              Value
              - $20,000.

          <% elsif @lot.senior_62_school_homestead %>
              <b>Over 62 & income under $25,000 - S1</b> homeowners whose primary residence is at this address AND the
              owner is over 62 years of age AND the household income is under $25,000 qualify for a general homestead
              exemption. Taxes eligible for homestead deduction:
              <b>City of Decatur General Fund, City of Decatur Capital Tax, City of Decatur Downtown Development Tax</b>
              Taxes NOT eligible for homestead deduction:
              <b>City of Decatur Bond Tax, City Schools of Decatur Tax</b>.<br/><br/>Total Deduction from Appraised
              Value
              - City $70,000. - Schools $110,000

          <% elsif @lot.senior_62_low_income_school_homestead %>
              <b>Over 62 & income under $10,000 - H6F</b> homeowners whose primary residence is at this address AND the
              owner is over 62 years of age AND the household income is under $10,000 qualify for a general homestead
              exemption. Taxes eligible for homestead deduction:
              <b>City of Decatur General Fund, City of Decatur Capital Tax, City of Decatur Downtown Development Tax</b>
              Taxes NOT eligible for homestead deduction:
              <b>City of Decatur Bond Tax, City Schools of Decatur Tax</b>.<br/><br/>Total Deduction from Appraised
              Value
              - City $20,000. - Schools $60,000

          <% elsif @lot.senior_65_school_homestead %>
              <b>Over 65 Homestead - H2</b> homeowners whose primary residence is at this address AND the owner is over
              65 years of age qualify for a general homestead exemption. Taxes eligible for homestead deduction:
              <b>City of Decatur General Fund, City of Decatur Capital Tax, City of Decatur Downtown Development Tax</b>
              Taxes NOT eligible for homestead deduction:
              <b>City of Decatur Bond Tax, City Schools of Decatur Tax</b>.<br/><br/>Total Deduction from Appraised
              Value
              - $1,000.

          <% elsif @lot.senior_70_school_homestead %>
              <b>Over 70 Homestead - H6IF or H6F</b> homeowners whose primary residence is at this address AND the owner
              is over 65 years of age qualify for a general homestead exemption. Taxes eligible for homestead deduction:
              <b>City of Decatur General Fund, City of Decatur Capital Tax, City of Decatur Downtown Development Tax,
                City Schools of Decatur Tax</b> Taxes NOT eligible for homestead deduction:
              <b>City of Decatur Bond Tax</b>.<br/><br/>Total Deduction from Appraised Value - City $71,000. - Schools
              $110,000

          <% elsif @lot.senior_80_school_homestead %>
              <b>Over 80 & Income under $40,000 - H6F</b> homeowners whose primary residence is at this address AND the
              owner is over 80 years of age AND household income is less than $40,000 qualify for a general homestead
              exemption. Taxes eligible for homestead deduction:
              <b>City of Decatur General Fund, City of Decatur Capital Tax, City of Decatur Downtown Development Tax,
                City Schools of Decatur Tax</b> Taxes NOT eligible for homestead deduction:
              <b>City of Decatur Bond Tax</b>.<br/><br/>Total Deduction from Appraised Value - City $71,000. - Schools
              100%

          <% elsif @lot.homestead.nil? %>
              <b>NO HOMESTEAD EXEMPTIONS</b>
          <% end %>
          </div>
    </div>
  </div>
</div>
<% if @lot.appeal_appraised > 10 %>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <h6>Tax Analysis</h6>
      </a>
    </h3>
  </div>
  <div id="collapseThree" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="col-lg-7 bold">
        <h5>Total Annual Tax based on Appeal Value</h5>
      </div>
      <div class="col-lg-5 textright">
        <h5><%= number_to_currency(@total_lot_tax_appeal, :unit => "$") %></h5>
      </div>
      <div class="col-lg-7 bold">
        <h5>Total Annual Tax if based on Appraised Value</h5>
      </div>
      <div class="col-lg-5 textright">
        <h5><%= number_to_currency(@total_lot_tax_appraised, :unit => "$") %></h5>
      </div>
      <div class="col-lg-7 bold">
        <h5 class="red">Annual Tax Revenue Lost pending Appeal</h5>
      </div>
      <div class="col-lg-5 textright">
        <h5 class="red bold"><%= number_to_currency(@total_lot_tax_lost_to_appeal, :unit => "$") %></h5>
      </div>
      <div class="col-lg-2 textright"></div>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
</div>
<hr>
<%= render :partial => "/lots/lot_list" %>