<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>liteGov | Keeping it simple and clear</title>
  <meta name="LiteGove" content="property tax records" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "gmaps4rails" %>
  <%= stylesheet_link_tag "bootstrap", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all" %>

  <%= yield :head %>
  <!--[if lt IE 9]>
    <script src="assets/ie/respond.min.js" cache="false"></script>
    <script src="assets/ie/html5.js" cache="false"></script>
    <script src="assets/ie/fix.js" cache="false"></script>
  <![endif]-->
</head>
<body>
  <section class="hbox stretch">
    <!-- .aside -->
    <aside class="bg-primary aside-sm" id="nav">
      <section class="vbox">
        <header class="dker nav-bar">
          <a href="/" class="nav-brand"><img src="/assets/litegov.png" class="img-responsive"></a>
          <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="body">
            |||
          </a>
        </header>

        <section>
          <!-- nav -->
          <nav class="nav-primary hidden-xs">
            <ul class="nav">
              <li class="active">
                <a href="/lots/">
                  <span>All Properties</span>
                </a>
              </li>
              
              
              <% if user_signed_in? %>
                  <li>
                  <%= link_to "My Account", "/users/#{current_user.id}" %>
                  <li>
                    <a href="/workflows/">
                      <span>My Workflows</span>
                    </a>
                  </li>
                  <li>
                    <a href="/portfolio/">
                      <span>My Portfolio</span>
                    </a>
                  </li>
                  <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  </li>
              <% else %>
                <li>
                <span><%= link_to image_tag("/assets/LoginWithFacebook.png", :width => "150px"), user_omniauth_authorize_path(:facebook) %></span>
                </li>
              <li>
                <a href="/static_pages/about">
                  <span>About liteGov</span>
                </a>
              </li>
              <li>
                <a href="/static_pages/contact">
                  <span>Contact liteGov</span>
                </a>
              </li>
            <% end %>
            </ul>
          </nav>
          <!-- / nav -->
        </section>
      </section>
    </aside>
    <!-- /.aside -->
    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
          <% if notice.present? %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= notice %>
              </div>
          <% end %>
       
<!-- PRIMARY CONTENT AREA-->

  <%= yield %>

<!-- END PRIMARY CONTENT AREA-->
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="body"></a>
    </section>
    <!-- /.vbox -->
  </section>
	<script src="assets/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/bootstrap.js"></script>
 


  <%= yield :scripts %>
  <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-40264196-3', 'propertytaxexplorer.com');
      ga('send', 'pageview');

  </script>
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=533821743358189";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  </body>
  </html>




































